{% extends "base.jinja" %}
{% set page_title = 'Compression' %}

{% block content %}
  <form action="" method=post enctype=multipart/form-data id="compression_form">
    <select name="compression_method" form="compression_form">
      {% for compression_method in ['dft', 'dct'] %}
        <option {% if request.args.get('compression_method') == compression_method %} selected="selected"{% endif %} value="{{ compression_method }}">{{ compression_method.upper() }}</option>
      {% endfor %}
    </select>
    Compression level
    <input type="number" step="0.01" name="compression_level" value="{{ request.args.get('compression_level', 0) }}"/>
    <input type=submit value=Filter>
  </form>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='origin') }}"/>
        <figcaption>Original</figcaption>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='compressed') }}"/>
        <figcaption>Compressed</figcaption>
      </figure>
    </div>
  </div>

  <div class="pull-right">Difference: {{ diff }}</div>
{% endblock %}

