{% from 'main/util.jinja' import filter_name_select %}

{% extends "base.jinja" %}
{% set page_title = filter_type.capitalize() %}


{% block content %}
  <form action="" method=post enctype=multipart/form-data id="filter_form">
    {{ filter_name_select() }}
    {% for option in options %}
      {{ option.capitalize() }}
      <input type="number" step="0.1" name={{ option }} value="{{ request.args.get(option, 0) }}"/>
    {% endfor %}
    Order:
    <input type="number" name="order" value="{{ request.args.get('order', 1) }}">
    <input type=submit value=Filter>
  </form>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='origin') }}"/>
        <figcaption>Original</figcaption>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='filtered_{}'.format(filter_type)) }}"/>
        <figcaption>Filtered</figcaption>
      </figure>
    </div>
  </div>

  <div class="pull-right">Difference: {{ diff }}</div>
{% endblock %}
