{% from 'main/util.jinja' import filter_type_select %}

{% extends "base.jinja" %}
{% set page_title = 'High Pass' %}


{% block content %}
  <form action="" method=post enctype=multipart/form-data id="filter_form">
    {{ filter_type_select() }}
    Cutt off:
    <input type="number" step="0.1" name="cutoff" value="{{ request.args.get('cutoff', 0) }}"/>
    Order:
    <input type="number" name="order" value="{{ request.args.get('order', 0) }}">
    <input type=submit value=Filter>
  </form>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='ref') }}"/>
        <figcaption>Original</figcaption>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <img class="img-fluid plot" src="{{ get_image_url(type='filtered_high_pass') }}"/>
        <figcaption>Filtered</figcaption>
      </figure>
    </div>
  </div>
{% endblock %}
