<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand {% if url_for('main.index') == request.path %}active{% endif %}" href="{{ url_for('main.index') }}">{{ "Index" }}</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li {% if url_for('main.index') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">{{ "Upload Image" }}</a></li>
      <li {% if url_for('main.fourier') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.fourier') }}">{{ "Fourier Transform" }}</a></li>
      <li {% if url_for('main.inv_fourier') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.inv_fourier') }}">{{ "Innverse Fourier Transform" }}</a></li>
      <li {% if url_for('main.low_pass') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.low_pass') }}">{{ "Low Pass" }}</a></li>
      <li {% if url_for('main.high_pass') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.high_pass') }}">{{ "High Pass" }}</a></li>
      <li {% if url_for('main.band_pass') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.band_pass') }}">{{ "Band Pass" }}</a></li>
      <li {% if url_for('main.band_reject') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.band_reject') }}">{{ "Band Reject" }}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li {% if url_for('main.about') == request.path %}class="active"{% endif %}><a href="{{ url_for('main.about') }}"><i class="fa fa-book"></i> {{ "About site" }}</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
